<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/jquery.mobile/jquery.mobile.css">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
$(document).bind("mobileinit",function(){
    $.mobile.ajaxLinksEnabled = false;
    $.mobile.ajaxFormsEnabled = false;
});
</script>
<script type="text/javascript" src="/js/jquery.mobile.js"></script>
<title>アンケート {% block title %}{% endblock %}</title>
<style type="text/css">
</style>
</head>
<body>
<div data-role="page" data-theme="c">
<div data-role="header">
<h1>CustomForm<h1>
</div>

<div data-role="content">
{% block customform %}

<div>
{% for question in questionBodys %}
<div data-role="fieldcontain">
<fieldset data-role="controlgroup">
<legend>{{ question.question_title }}</legend>
{{ question.body|raw }}
</fieldset>
</div>
{% endfor %}
</div>

{% endblock %}
</div>

<div data-role="footer">
footer
</div>

</div>
</body>
</html>
