<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>アンケート {% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/css/base.css">
<link rel="stylesheet" type="text/css" href="/css/layout-one-columns.css">
<link rel="stylesheet" type="text/css" href="/css/base-form.css">
<link rel="stylesheet" type="text/css" href="/css/default.css">
<style type="text/css">

.message {
    margin-bottom: 20px;
    padding: 20px;
}

.btn {
    padding: 0 20px;
    color: #Ff0000;
}

</style>
</head>
<body>
<div id="container">
<div id="header">
<h1><a href="/" id="title_logo"><span class="none">CustomForm</span></a><h1>
</div>

<div id="main">
{% block customform %}

<dl class="form-item">
{% for question in questionBodys %}
<dt>{{ question.question_title }}</dt>
<dd>{{ question.body|raw }}</dd>
{% endfor %}
</dl>

{% endblock %}
</div>

<div id="footer">
footer
</div>

</div>
</body>
</html>
