{% extends "layout/manage.html" %}

{% block title %}アンケートフォーム作成サイト CustomForm{% endblock %}

{% block head %}
<script src="/js/jquery-ui-1.8.12.custom.min.js"></script>
<style type="text/css" >

#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 600px; 
    background-color: #ffffff;
}

#sortable li { 
    margin: 0 3px 10px 3px; 
    padding: 14px 0 ;
    height: 18px; 
    border: solid 1px #9d896c;
    background-color: #ffffff;
    padding-left: 10px;
    cursor: move;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;

}

.col1 {  
    display: block;
    float:left;
    width: 240px;
}

.col2 {
    display: block;
    float: left;
    width: 100px;
    padding-left: 10px;
    border-left: solid 1px #9d896c;
}


.plus {
    font-weight: bold;
    font-size: 16px;
    padding: 1px 5px;
    border: double 3px #ffffff;
    background-color: #9d896c;
    color: #ffffff;
}

.add {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

</style>
<script>
$(function() {
    var option = {
        stop : function(){
            var data=[];
            $("li","#sortable").each(function(i,item){
                data.push(item.value);
            });
            $('#result').load('/manage/question/sort?data=' + data);
        }
    };
    $("#sortable").sortable(option);
});
</script>
{% endblock %}


{% block navi %}
<a href="/">トップ</a> &gt <a href="/manage/customform/index/">アンケートフォーム一覧</a> &gt 質問管理
{% endblock %}


{% block main %}

<ul id="sortable">
{% for value in list %}
<li value="{{ value.question_id }}">
<span class="col1">
<a href="/manage/question/update/?customform_id={{ customform_id }}&question_id={{ value.question_id }}">{{ value.question_title }}</a>
</span>
<span class="col2">{{ value.input_type }}</span>
<span class="col2">{{ value.required == 1 ? "必須" : "任意" }}</span>
<span class="col2">{{ disp_limit == 1 ? "非公開" : "公開" }}</span>
</li>
{% endfor %}
</ul>

<a class="add" href="/manage/question/regist/?customform_id={{ customform_id }}"><span class="plus">+</span>質問追加</a>


<div id="result"></div>
{% endblock %}


{% block side %}
{% endblock %}

