* {
    margin: 0;
    padding: 0;
    font-size:14px;
    color: #444444;
}

html {
    height:100%;
}

img {
    border: 0;
}

.none {
    display: none;
}

.spacer {
    margin: 10px;
}

body {
    background-color: #9d896c; 
    height: 100%;
}

#container {
    background-color: #FFffFF;
    width:960px;
    margin: 0 auto ;
    border: solid 0;
    height: 100%;
    min-height: 100%;
}

body > #container {
    height:auto;
}

#main {
    width:600px;
    float: left;
    padding: 0 10px 0px 20px;
    border: solid 0px;
}

#side {
    width:300px;
    float:left;
    padding: 0 20px 0px 10px;
}


h1 {
    padding: 10px 0 10px 20px;
}

#title_logo {
    background: url('/img/customform_logo.png') no-repeat;
    display: block;
    width: 400px;
    height: 50px;
    border: solid 0px;
}

#footer {
    clear:left;
    padding: 20px;
    color: #999999;
    text-align: center;
    border: solid 0px;
}




