
.form-frame {
    margin: 0px 20px 10px 20px;
    padding: 20px 40px;
    border: dotted 1px #b98c46;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
}

.form-item dt {
    padding: 0 4px 2px 4px;
    margin-bottom: 4px;
    color: #9d896c;
    background-color: #ffffff; 
    border-bottom: solid 1px #9d896c;
    border-left: solid 4px #9d896c;
    width: 80%;
    
}

.form-item dd {
    padding: 4px 8px;
    margin-bottom: 12px;
}

.text {
    border: 1px solid #cccccc;
    padding: 4px;
    color: #666666;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
}

textarea {
    border: 1px solid #cccccc;
    padding: 4px;
    color: #666666;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
}

.radio {
    margin: 4px;
}

.checkbox {
    margin: 4px;
}

.select {
    font-size: 16px;
    margin: 4px;
    color: #ffffff;
    background-color: #9d896c; 
}


