h1 {
    padding: 10px 0 10px 20px;
}

#title_logo {
    background: url('/img/customform_logo.png') no-repeat;
    display: block;
    width: 400px;
    height: 50px;
    border: solid 0px;
}

.submit {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9d896c; 
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding: 1px 42px;
    border: 3px double #ffffff;
}

.simple {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9d896c; 
    font-size: 14px;
    color: #ffffff; 
    padding: 1px 12px;
    border: 3px double #ffffff;
}


.plus {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    
}





