<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>{% block title %}CustomForm{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/css/base.css">
<link rel="stylesheet" type="text/css" href="/css/manage.css">
<script type="text/javascript" src="/js/jquery.js"></script>
<script src="/js/jquery-ui-1.8.12.custom.min.js"></script>

{% block style %} 
{% endblock %}

</head>

<body>
<div id="container">
<div id="header">
<h1><a href="/" id="title_logo"><span class="none">CustomForm</span></a><h1>
<div id="account">
<ul>
<li><a href="/">アカウント管理</a></li>
<li><a href="/top/logout/">ログアウト</a> | </li>
<li>{{ account }} | </li>
</ul>
</div>
<nav>
{% block navi %}
&gt <a href="/">トップ</a>
{% endblock %}
</nav>
</div>

<div id="main">
{% block main %}
{% endblock main %}
</div>

<div id="side">
<div id="LRec">

<script type="text/javascript"><!--
google_ad_client = "ca-pub-5239845649434559";
/* LRec */
google_ad_slot = "4382101299";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</div>

{% block side %}
<ul>
<li>基本情報変種</li>
<li>本番反映:編集した内容を本番のフォームに反映します</li>
<li>基本情報変種</li>



{% endblock side %}

</div>

<div id="footer">
{% block footer %}
<p>Copyrights(c)2011. h19e All Right Reserved.</p>
{% endblock footer %}
</div>
</div>
</body>
</html>
