<!DOCTYPE html>
<html lang="ja">
<head>
{% block head %}
<meta charset="utf-8">
<title>{% block title %}Welcome to CodeIgniter{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/css/manage.css">
<script type="text/javascript" src="/js/jquery.js"></script>
<style type="text/css">



</style>
{% endblock %}
</head>
<body>
{% block body %}
<div id="container">
<div id="header">
{% block header %}
<h1><a href="/"><span class="none">CustomForm</span></a><h1>
<h2><a href="/manage/customform/index/">TOP</a></h2>
<div><a href="/top/logout/">ログアウト</a></div>
<div>{{ account }}</div>
{% endblock header %}
</div>
<div id="main">
{% block main %}
{% endblock main %}
</div>
<div id="side">
{% block side %}
{% endblock side %}
</div>
<div id="footer">
{% block footer %}
footer
{% endblock footer %}
</div>
{% endblock body %}
</div>
</body>
</html>
