{% extends "layout/manage.html" %}

{% block title %}アンケートフォーム作成サイト CustomForm{% endblock %}

{% block head %}
<style type="text/css">

#form-list {
    list-style-type: none;
    margin:0;
    padding:0;
    width: 600px;
}

#form-list li.top {
    margin: 0 3px 0px 3px;
    padding: 14px 0 ;
    border-top: solid 1px #b98589;    background-color: #ffffff;
    border-left: solid 1px #b98589;    background-color: #ffffff;
    border-right: solid 1px #b98589;    background-color: #ffffff;
    padding-left: 10px;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0 ;
    -o-border-radius: 6px 6px 0 0 ;
    -ms-border-radius: 6px 6px 0 0 ;
}
  
#form-list li.bottom {
    margin: 0 3px 10px 3px;
    padding: 14px 0 ;
    border: solid 1px #b98589;    background-color: #ffffff;
    padding-left: 10px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
}

span.col1 {
    display: block;
    float:left;
    width: 240px;
}

span.col2 {
    display: block;
    float:left;
    width: 100px;
    padding-left: 10px;
    border-left: solid 1px #b98589;
}

div.right-position {
    text-align: right;
    padding-right: 20px;
}




</style>
{% endblock %}


{% block navi %}
<a href="/">トップ</a> &gt アンケートフォーム一覧</a>
{% endblock %}


{% block main %}
<!--
<a href="/manage/customform/regist/">フォームの新規作成</a>
-->
<ul id="form-list">
{% for value in list %}
<li class="top">
<span class="col1">{{ value.customform_title }}</span>
<span class="col2"><a href="/manage/customform/update/?customform_id={{ value.customform_id }}">基本情報編集</a></span>
<span class="col2"><a href="/manage/question/?customform_id={{ value.customform_id }}">質問管理</a></span>
<span class="col2"><a href="/manage/answer/summary/?customform_id={{ value.customform_id }}" >回答管理</a></span>
<p>&nbsp;</p>
</li>

<!--
<div class="bottom">
<a href="/manage/preview/input/?customform_id={{ value.customform_id }}" target="_blank"><button class="submit" >プレビュー</button></a>
<a href="/manage/customform/release/{{ offset }}?customform_id={{ value.customform_id }}"><button class="submit" >本番反映</button></a>
<button class="submit" >削除</button>
</div>
-->
<li class="bottom">
<p>デザインテンプレート [ {{ value.template_name }} ] <a href="">変更</a> </p>
<p>アンケート期限 [ {{ value.end_time|date("Y/m/d") }} ] </p>
<p class="date">登録日時:{{ value.create_time|date("Y/m/d H:i:s") }}&nbsp;&nbsp;更新日時:</label>{{ value.update_time|date("Y/m/d H:i:s") }}</p>
<div class="right-position">
<a href="/"><button class="btn simple">プレビュー</button></a>
<a href="/"><button class="btn simple">本番反映</button></a>
</div>

</li>
{% endfor %}
{{ pagination|raw }}
{% endblock %}



