{% extends "layout/manage.html" %}

{% block title %}アンケートフォーム作成サイト CustomForm{% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="/css/base-form.css">
<style type="text/css" >
</style>
{% endblock %}

{% block navi %}
<a href="/">トップ</a> &gt <a href="/manage/customform/index/">アンケートフォーム一覧</a> &gt 基本情報編集
{% endblock %}

{% block main %}

<div class="form-frame">
{{ validation_errors|raw }}
<form action="/manage/customform/update/" method="post">
<input type="hidden" name="customform_id" value="{{ customform_id }}" />

<dl class="form-item">
<dt>フォームタイトル</dt>
<dd>
<input type="text" name="customform_title" class="text" size="40" value="{{ customform_title }}" />
</dd>

<dt>入力画面メッセージ</dt>
<dd>
<textarea rows="6" cols="54" name="input_message" >{{ input_message }}</textarea>
</dd>

<dt>確認画面メッセージ</dt>
<dd>
<textarea rows="6" cols="54" name="confirm_message" >{{ confirm_message }}</textarea>
</dd>

<dt>完了画面メッセージ</dt>
<dd>
<textarea rows="6" cols="54" name="complete_message" >{{ complete_message }}</textarea>
</dd>

<dt>アンケート回答期限</dt>
<dd>
<input type="text" name="end_time_year" class="text" size="4" value="{{ end_time_year }}" />
<label>年</label>
<input type="text" name="end_time_month" class="text" size="2" value="{{ end_time_month }}" />
<label>月</label>
<input type="text" name="end_time_day" class="text" size="2" value="{{ end_time_day }}" />
<label>日</label>
</dd>
</dl>
<div>
<input type="submit" class="submit btn" value="更新" />
</div>

</form>
</div>
{% endblock %}

